@font-face {
  font-family: "Horror";
  src: local("Horror"),
    url("../src/fonts/MonsterBlood-ALXnD.ttf")
}

@font-face {
  font-family: "Clock";
  src: local("Clock"),
    url("../src/fonts/clock.ttf")
}

body {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  padding: 4px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 75px;
  color: white;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 5px #999;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]:checked + img, [type=radio]:checked:hover + img  {
  box-shadow: 0 5px 5px rgb(169, 197, 47);
  border-radius: 24px;
}

[type=radio]:hover + img {
  box-shadow: 0 5px 5px rgb(255, 255, 255);
  border-radius: 24px;
}


#header {
  height: 40px;
  background-color: rgb(36, 35, 35);
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}

#logo {
  font-weight: bold;
  padding: 5px;
  margin-left: 20px;
}

#homePage {
  background-color: rgb(229, 225, 225);
  padding-top: 40px;
  height: calc(100vh - 40px);
  min-width: 800px;
  width: 100vw;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.previewDiv {
  width: 400px;
  height: auto;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.previewImg {
  width: 80%;
  height: auto;
  margin: 0 auto 10px auto;
}

.hideStart {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 25%;
  height: auto;
}

.hideStart:hover {
  opacity: 1;
}

#horrorPreview {
  font-family: "Horror";
  font-size: 80px;
}

#viewBox {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  left: 0;
  top: 0;
}

.locationPin {
  width: 20px;
  height: 20px;
  z-index: 2;
}

.found {
  text-decoration: line-through;
}

#pokemonBoard, #ghibliBoard, #zeldaBoard, #horrorBoard {
  position: relative;
  margin: 0 auto 0 auto;
}

#pokemonMain, #ghibliMain, #zeldaMain, #horrorMain {
  background-color: rgb(211, 211, 213);
  padding-top: 40px;
}

#pokemonBoard, #pokemonImg {
  height: auto;
  width: 800px;
}

#ghibliBoard, #ghibliImg {
  height: auto;
  width: 1500px;
}

#zeldaBoard, #zeldaImg {
  width: 1500px;
  height: auto;
}

#horrorImg, #horrorBoard {
  height: auto;
  width: 1060px;
}

.characterList {
  z-index: 2;
  width: min-content;
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.charName {
  white-space: nowrap;
  text-align: center;
}

.charImg {
  height: 10%;
  padding: 2px;
  margin: 0 auto 0 auto;
}

#winDisplay {
  position: fixed;
  top: 60px;
  width: 200px;
  margin: 0 auto 0 auto;
  border-radius: 8px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  text-align: center;
  background-color: rgb(36, 35, 35);
  color: white;
}

#winTitle {
  color: rgb(245, 245, 245);
  padding-top: 20px;
}

#submit:active, #cancel:active, #highScoreBtn:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#submit {
  background-color: rgb(80, 93, 23);
}

#cancel {
  background-color: rgb(93, 25, 23);
}

#highScoreBtn {
  background-color: rgb(91, 105, 25);
  width: 100px;
  height: min-content;
  margin-right: 20px;
  position: fixed;
  right: 10px;
  top: 0;
}

#score {
  color: rgb(169, 197, 47);
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

#highScoresMain {
  text-align: center;
  display: grid;
  grid-template: auto min-content min-content / minmax(200px, 50%) minmax(200px, 50%);
  gap: 40px;
  background-color: rgb(36, 35, 35);
  color: white;
  min-height: 100vh;
}

.boardScores {
  min-height: calc((100vh - 119px)/2);
display: flex;
flex-direction: column;
align-items: center;}

.highScore {
  font-family: "Clock";
  color: rgb(169, 197, 47);
}

.playerScoreCard {
  display: grid;
  grid-template: repeat(3, min-content) / min-content min-content;
  text-align: left;
  gap: 5px;
}

.subHeader {
  font-size: 1.5em;
  padding: 10px;
  text-decoration-line: underline;
}

.playerIcon {
  height: 50px;
  width: auto;
  grid-row: 1/3;
  margin: 5px;
}

.playerName {
  font-size: 1.3em;
  font-weight: bold;
}

#highScoresTitle{ 
  font-size: 2em;
  height: max-content;
  margin: auto;
  padding: 10px;
}

#highScoresHeader {
  display: flex;
  grid-column: 1/3;
}

.iconsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0 5px 0;
}

#back {
  position: absolute;
  left: 10px;
  top: 5px;
  width: 30px;
  height: auto;
}

.hide {
  opacity: 0;
}

#formError {
  color: red;
  font-size: .9em;
}